<footer class="wrapper">
  <div class="site-footer">
    <div class="f-mb5 site-footer-social">
      <ul class="site-footer-social__list">
        <li class="site-footer-social__item"><a href="//twitter.com/_coolcut">Twitter</a></li>
        <li class="site-footer-social__item"><a href="//mastodon.social/@coolcut">Mastodon</a></li>
        <li class="site-footer-social__item"><a href="//micro.blog/coolcut">Micro.Blog</a></li>
        <li class="site-footer-social__item"><a href="//dribbble.com/coolcut">Dribbble</a></li>
        <li class="site-footer-social__item"><a href="//github.com/coolcut/">Github</a></li>
      </ul>
    </div>
    <div class="site-footer__copyright">
      <span class="f-mr4">© 2019 Jan Früchtl</span>
      <span class="f-mr4"><a href="https://fruechtl.me/impressum">Impressum</a></span>
      <span><a href="https://fruechtl.me/datenschutzhinweise">Datenschutzhinweise</a></span>
    </div>
  </div>
</footer>
<script src="/static/js/lozad.min.js"></script>
{% set js %}
  {% include "assets/js/main.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>
