<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title or metadata.title }} | Jan Früchtl</title>
  <meta name="description" content="{{ metadescription or metadata.seo.description }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta name="author" content="">

  <link rel="canonical" href="https://fruechtl.me"/>

  <link rel="preconnect" href="//cloud.typography.com" crossorigin>
  <link rel="dns-prefetch" href="//cloud.typography.com">
  <link rel="stylesheet" rel="preload" type="text/css" href="https://cloud.typography.com/6098632/6185012/css/fonts.css" />
  {% set css %}
    {% include "assets/css/main.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
</head>
