<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta name="author" content="">

  <link rel="preconnect" href="//cloud.typography.com" crossorigin>
  <link rel="dns-prefetch" href="//cloud.typography.com">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6098632/6185012/css/fonts.css" />

  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/main.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
