{% for post in postslist | reverse %}
	<a class="journal-feature__item" href="{{ post.url | url }}">
  	<time class="f-mb2 journal-feature__item-date" datetime="{{ post.date | machineDate }}" pubdate="pubdate">{{ post.date | readableDate }}</time>
  	<h2 class="f-mb3 title-3 journal-feature__item-title">{{ post.data.title }}</h2>
  	<p class="f-mb5 journal-feature__item-excerpt">{{ post.data.summary }}</p>
  	<span class="journal-feature__item-more">Read more →</span>
	</a>
{% endfor %}
