---
layout: layouts/base.njk
section: about
---

<main class="f-mb10 f-mb12-m">
  <div class="wrapper">
  <section class="f-w-two-thirds-m">
      <h1 class="area-title">{{ title }}</h1>
      {{ layoutContent | safe }}
    </section>
  </div>
</main>

