---
layout: layouts/base.njk
section: home
---

<section class="c-homepage-hero">
  <div class="wrapper">
    <div class="c-homepage-hero-content">
      <div class="f-mt10-m c-homepage-hero__slogan">
        <h1 class="f-ma0 c-homepage-hero__slogan-title">{{ layoutContent | safe }}</h1>
      </div>
      <div class="f-mb6 f-mb0-m c-homepage-hero__cover">
        <figure class="f-ma0">
          <img data-srcset="https://fruechtl.me/media/pages/home/2028144438-1549818939/profile-picture-400x267-q60.jpg 400w,
                            https://fruechtl.me/media/pages/home/2028144438-1549818939/profile-picture-600x400-q60.jpg 600w,
                            https://fruechtl.me/media/pages/home/2028144438-1549818939/profile-picture-800x533-q60.jpg 800w,
                            https://fruechtl.me/media/pages/home/2028144438-1549818939/profile-picture-1200x800-q60.jpg 1200w" sizes="(min-width: 1000px) 800px, (min-width: 860px) 500px, 100vw" data-src="https://fruechtl.me/media/pages/home/2028144438-1549818939/profile-picture-800x533-q60.jpg" alt="Profile picture of me, Jan Früchtl" class="f-db f-w-100 lozad" src="https://fruechtl.me/media/pages/home/2028144438-1549818939/profile-picture-800x533-q60.jpg" srcset=" https://fruechtl.me/media/pages/home/2028144438-1549818939/profile-picture-400x267-q60.jpg 400w,
                            https://fruechtl.me/media/pages/home/2028144438-1549818939/profile-picture-600x400-q60.jpg 600w,
                            https://fruechtl.me/media/pages/home/2028144438-1549818939/profile-picture-800x533-q60.jpg 800w,
                            https://fruechtl.me/media/pages/home/2028144438-1549818939/profile-picture-1200x800-q60.jpg 1200w" data-loaded="true">
        </figure>
      </div>
    </div>
  </div>
</section>
<main class="homepage-content">
  <div class="wrapper">
    <section class="f-mb8 f-mb12-m c-homepage-work">
      <h2 class="homepage-section-title caption-title">Featured Projects</h2>
      <div class="f-mb8 work-feature__list">
        {% set worklist = collections.projectFeature %}
        {% include "components/worklist.njk" %}
      </div>
      <div class="f-cf">
        <a class="f-fr homepage-link-teaser" href="{{ '/work' | url }}">See more work →</a>
      </div>
    </section>

    <hr class="f-mb8 f-mb12-m">

    <section class="c-homepage-journal">
      <h2 class="homepage-section-title caption-title">Latest Articles</h2>
      <div class="f-mb8 f-w-100 journal-feature__list">
        {% set postslist = collections.postsTeaser %}
        {% include "components/postslist.njk" %}
      </div>
      <div class="f-cf">
        <a class="f-fr homepage-link-teaser" href="{{ '/journal' | url }}">Read all articles →</a>
      </div>
    </section>
  </div>
</main>
