---
layout: layouts/base.njk
section: post
---

<main class="f-mb8 f-mb12">
  <section>
    <div class="wrapper wrapper--small">
      <article class="f-mb10 blogarticle">
        <header class="f-mb8 blogarticle__header">
          <h1 class="area-title blogarticle__header-title">{{ title }}</h1>
          <time class="blogarticle__header-date" datetime="{{ date | machineDate }}" pubdate="pubdate">Published {{ date | readableDate }}</time>
        </header>
        {{ layoutContent | safe }}
      </article>
    </div>
  </section>
</main>
