---
layout: layouts/base.njk
section: about
---

<main class="f-mb10 f-mb12-m f-pt6 f-pt0-m">
  <div class="wrapper">
    <section class="work f-mb10 f-mb12-m">
      <div class="f-mb8 work-feature__list">
        <div class="work-feature__item work-feature__item--intro">
          <h1 class="page-title">{{ title }}</h1>
          {{ layoutContent | safe }}
        </div>
        {% set worklist = collections.work %}
        {% include "components/worklist.njk" %}
      </div>
    </section>
    <hr class="f-mb10 f-mb12-m">
    <section class="side-projects">
      <aside class="side-projects-info">
        <h2 class="f-mb3 title-3">Side Projects</h2>
        <p>Alongside regular workdays, I also like to tinker with new technologies or work on side projects with friends. Traditionally, these projects are mostly based on web technologies or iOS as a platform. I also have a deeply rooted passion for podcasting.</p>      </aside>
        <ul class="side-project-list">
          {% set sideprojectlist = collections.sideProject %}
          {% include "components/sideprojectlist.njk" %}
    </section>
  </div>
</main>
